
  body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;
  }

  ul, ol {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
  }

  .header-logo .logo-part {
    color: #2e2f42;
  }

  .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
  }

  .contacts {
    font-style: normal;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
     color: #404bbf;
  }
  
  .main-section {
    background-color: #2e2f42;
  }

  .main-hero-one {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
  }

  .button-hero-one {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
  }

  .button-hero-one:hover,
  .button-hero-one:focus {
    background-color: #404bbf;
  }

  .features-hero-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }

  .paragraph-features {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }

  .section-team {
    background-color: #f4f4fd;
  }

  .team-hero-two {
      text-transform: capitalize;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
  }

  .team-hero-three {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
  }

  .paragraph-team {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
  }

  .team-list {
    background-color: #FFFFFF
  }

  .portfolio-hero-two {
     text-transform: capitalize;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
  }

.portfolio-hero-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

  .page-footer {
    background-color: #2e2f42;
  }

  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .paragraph-footer {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
  }
